@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Dancing+Script:wght@400;500;600&family=Mitr:wght@200;300;400;500;600;700&family=Montserrat:wght@900&family=Rubik+Wet+Paint&display=swap');

:root {
    --primary: #ffbd00;
    --secondary: #ff60ce;
    --background: #0b0016;
    --gray: #9b9eac;
    --light: #fff;
    --dark: #0a0a0a;
    --main-font: 'Mitr', sans-serif;
    --secondary-font: 'Barlow', sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

::-webkit-scrollbar-track {
    background-color: var(--dark);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: var(--gray);
    background-color: var(--background);
    font-family: var(--secondary-font);
    width: 100%;
}

.fa-arrow-right {
    margin-left: 10px;
}

.go-up {
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 1000;
    border-radius: 50px;
    color: white;
    background-color: #9e7400;
    width: 40px;
    height: 40px;
    border: none;
    font-weight: 900;
    cursor: pointer;
}

.container {
    width: 85%;
    height: fit-content;
    margin: 0 auto !important;
}

.btn-full {
    width: 245px;
    height: 45px;
    color: var(--dark);
    border: 1px solid var(--primary);
    background-color: var(--primary);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background 300ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-full:hover {
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
}

.btn-section {
    width: 230px;
    height: 45px;
    color: var(--primary);
    border: 1px solid var(--primary);
    background-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background 300ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-section:hover {
    color: var(--dark);
    background-color: var(--primary);
}

.sec {
    width: 85%;
    margin: 100px auto;
    height: fit-content;
    /* background-color: gray; */
}

h3.title {
    font-size: 40px;
    text-transform: uppercase;
    font-family: var(--main-font);
    color: white;
}

.sec-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.owl-carousel .owl-nav {
    width: calc(100% + 100px);
    display: flex;
    margin: auto;
    position: absolute;
    top: 30%;
    left: -50px;
    justify-content: space-between;
    font-size: 60px;
    color: white;
    z-index: 10000;
}

/* start header  */
.nav {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 8%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark);
}

.nav>a>img {
    width: 100px;
}

.nav>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.nav>nav>.btn-full {
    width: 245px;
}

.nav .nav-links {
    display: flex;
    list-style-type: none;
    align-items: center;
    width: calc(100% - 310px);
    justify-content: space-between;
}

.nav .nav-links>li {
    height: 30px;
    display: flex;
    align-items: center;
}

.nav .nav-links li a {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.nav .nav-links .nav-link-active {
    color: var(--primary);
}

.nav .nav-links li a:hover:not(.nav-link-active) {
    color: var(--secondary);
}

.nav .nav-links li.dropdown {
    position: relative;
}

.nav .nav-links .nav-link-dropdown {
    position: absolute;
    top: 30px;
    background-color: white;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.nav .nav-links .dropdown:hover .nav-link-dropdown {
    visibility: visible;
}

.nav .nav-links .nav-link-dropdown li {
    margin: 10px;
}

.nav .nav-links .nav-link-dropdown li>a {
    color: var(--dark);
}

@media (max-width:800px) {
    .nav>a>img {
        width: 70px;
    }

    .nav>nav {
        display: none;
    }
}

/* end header  */

/* start home  */
.home {
    height: 100vh;
    background: url(../images/background.jpg);
    background-size: cover;
}

.home::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(11, 0, 22, 0.6) 0%, rgba(11, 0, 22, 0.7) 65%, rgba(11, 0, 22, 1) 100%);
}

.home>div {
    position: relative;
}

.home>div>h1 {
    padding-top: 18%;
    font-size: 80px;
    font-family: var(--main-font);
    text-transform: uppercase;
    color: var(--primary);
    width: 8.2ch;
    line-height: 1.0;
}

.home>div>h1 span:nth-of-type(12),
.home>div>h1 span:nth-of-type(13),
.home>div>h1 span:nth-of-type(14),
.home>div>h1 span:nth-of-type(15),
.home>div>h1 span:nth-of-type(16),
.home>div>h1 span:nth-of-type(17),
.home>div>h1 span:nth-of-type(18),
.home>div>h1 span:nth-of-type(19),
.home>div>h1 span:nth-of-type(20),
.home>div>h1 span:nth-of-type(21),
.home>div>h1 span:nth-of-type(22) {
    color: white;
}

.home .home-txt-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home .home-txt-left>h3 {
    color: var(--secondary);
    font-size: 40px;
    font-family: var(--main-font);
    text-transform: uppercase;
}

.home .home-txt-left>p {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
}

.home .home-txt-left>button {
    width: 180px;
    margin-top: 15px;
}


@media (max-width: 800px) {
    .home::before {
        height: calc(100% + 80px) !important;
    }

    .home>div>h1 {
        font-size: 60px;
        margin-top: 80px;
        margin-bottom: 80px;
        width: 6;
    }

    .home .home-txt-left>h3 {
        font-size: 30px;
    }

    .home .home-txt-left>p {
        font-size: 16px;
    }
}

/* end home  */

/* start about  */
.about {
    display: flex;
    justify-content: space-between;
}

.about>* {
    width: 50%;
}

.about>.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about>.title>h3 {
    line-height: 1.2;
}

.about>.title>button {
    margin-top: 10px;
}

.about .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about>.details>* {
    margin-top: 20px;
    font-size: 20px;
}

.about>.details>.about-stat {
    display: flex;
}

.about>.details>.about-stat .stat-item {
    margin-right: 90px;
}

.about>.details>.about-stat h2 {
    color: var(--secondary);
    font-size: 50px;
}

.about>.details>.about-stat p {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .about>* {
        width: 100%;
    }

    .about {
        margin-top: 10px;
        flex-direction: column;
    }

    .about>.details>.about-stat {
        width: 100%;
        justify-content: space-between;
    }

    .about>.details>.about-stat h2 {
        font-size: 30px !important;
    }

    .about>.details>.about-stat p {
        font-size: 12px !important;
    }

    .about>.details>.about-stat .stat-item {
        margin-right: 0px;
    }
}

/* end about  */

/* start speakers  */
#speakers .list-speakers .item-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#speakers .list-speakers .item-img .item-social {
    list-style-type: none;
    position: absolute;
    bottom: 30px;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20%;
    transition: transform 300ms ease-in 1s;
}

#speakers .list-speakers .item-img .item-social li {
    background-color: var(--secondary);
    border-radius: 50px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 200ms linear;
    cursor: pointer;
}


#speakers .list-speakers .item-img .item-social li:hover {
    background-color: var(--primary);
    box-shadow: 0 4px 94px var(--primary);
    border: 1px solid white;
}

#speakers .list-speakers .item-img .item-social li img {
    width: 17px;
}

#speakers .list-speakers .item-img .item-social li:first-of-type img {
    width: 10px;
}

#speakers .list-speakers .item-info h5 {
    color: var(--primary);
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 25px;
    cursor: pointer;
}

#speakers .list-speakers .item-info h5:hover {
    color: var(--secondary);
}

#speakers .list-speakers .item-info p {
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    width: 12ch;
}

#speakers .list-speakers .item-info p span {
    color: var(--gray);
}

@media (max-width: 800px) {
    #speakers>nav {
        flex-direction: column !important;
    }

    .owl-carousel .owl-nav {
        display: none;
    }
}

/* end speakers  */

/* start celebration  */
#celebration {
    display: flex;
    height: 600px;
}

#celebration>img {
    width: 60%;
}

#celebration>.celebration-details {
    margin-left: 100px;
}

#celebration>.celebration-details>* {
    margin-bottom: 30px;
}

#celebration>.celebration-details>h3 {
    width: 300px;
    line-height: 1.2;
}

#celebration>.celebration-details>h3 span {
    color: var(--primary);
}

#celebration>.celebration-details>p {
    font-size: 20px;
}

@media (max-width: 800px) {
    #celebration {
        flex-direction: column;
        height: fit-content;
    }

    #celebration>img {
        width: 100%;
    }

    #celebration>.celebration-details {
        margin: 0;
        width: 100%;
    }
}

/* end celebration  */

/* start schedule  */
#schedule {
    height: fit-content;
}

#schedule>div {
    background-color: var(--dark);
}

#schedule .schedule-table {
    padding-bottom: 20px;
}

#schedule .schedule-table .schedule-nav {
    width: calc(100% - 40px);
    border-bottom: 1px solid #888;
    display: flex;
    justify-content: center;
    margin: 20px;
    transition: color 300ms ease-in, border-bottom-color 300ms ease-in;
}

#schedule .schedule-table .schedule-nav a {
    cursor: pointer;
}

#schedule .schedule-table .schedule-nav a:hover {
    color: var(--primary);
    border-bottom-color: var(--primary);
}

#schedule .schedule-table .schedule-nav a:first-child {
    color: var(--primary);
    border-bottom-color: var(--primary);
}

#schedule .schedule-table .schedule-nav a {
    margin: 0 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid white;
    padding: 20px 0;
}

#schedule .schedule-table .schedule-content .schedule-day .schedule-item {
    display: flex;
    justify-content: space-between;
    color: white;
    height: fit-content;
    border-bottom: 1px dashed #888;
    padding: 20px 0 40px;
    margin: 0 20px;
}

#schedule .schedule-table .schedule-content .schedule-day .schedule-item h5 {
    font-size: 26px;
}

#schedule .schedule-table .schedule-content .schedule-day .schedule-item .detail h5 {
    text-transform: capitalize;
}

#schedule .schedule-table .schedule-content .schedule-day .schedule-item .detail ul {
    color: var(--gray);
    margin-left: 30px;
    margin-top: 20px;
    list-style-type: '- ';
    text-transform: capitalize;
}


@media (max-width: 800px) {
    #schedule .schedule-table .schedule-nav a {
        font-size: 14px;
    }

    #schedule .schedule-table .schedule-content .schedule-day .schedule-item h5 {
        font-size: 14px;
    }
}

/* end schedule  */

/* start workshops  */
#workshops .item-workshops {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 40px !important;
}

#workshops .item-workshops .item-img {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#workshops .item-workshops .item-img img {
    width: 150px;
}

#workshops .item-workshops {
    background-color: var(--dark);
}

#workshops .item-workshops {
    background-color: var(--dark);
}

#workshops .item-workshops .item-info h5 {
    color: white;
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 20px;
}

#workshops .item-workshops .item-info p {
    font-size: 20px;
}

#workshops .item-workshops .item-info p span {
    color: #424fff;
    cursor: pointer;
}

@media (max-width: 800px) {
    #workshops>nav {
        flex-direction: column;
    }
}

/* end workshops  */

/* start location  */
#location iframe {
    opacity: .1;
}

#location iframe:hover {
    opacity: 1.0;
}

#location iframe {
    width: 100% !important;
    margin: 100px 0;
}

/* end location  */

/* start sponsors  */
#sponsors {
    margin-top: 0px !important;
    height: fit-content;
    width: 80%;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 20px;
    margin: auto;
}

#sponsors h2 {
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
}

#sponsors .owl3 img {
    width: 100px;
}

@media (max-width: 800px) {
    #sponsors .owl3 img {
        width: 70px;
    }
}

/* end sponsors  */

/* start footer  */
footer {
    height: fit-content;
}

footer .content-footer {
    margin-top: 100px;
    margin-bottom: 100px !important;
    display: flex;
    justify-content: space-between;
}

footer .content-footer>* {
    width: 30%;
}

footer .logo-descp img {
    width: 100px;
    margin-bottom: 20px;
}

footer .content-footer h5 {
    color: white;
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

footer .content-footer a {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--gray);
}

footer .content-footer a:hover {
    color: white;
}

footer .content-footer a:last-child {
    font-size: 22px;
    font-weight: 600;
    color: var(--primary);
}

footer .content-footer a:hover {
    color: var(--secondary);
}

footer .content-footer .subscribe> :not(:first-child) {
    margin-bottom: 10px;
}

footer .content-footer input {
    border: 1px solid var(--primary);
    background-color: transparent;
    height: 45px;
    display: block;
    width: 100%;
}

footer .content-footer button {
    width: 100%;
}

footer .content-footer .subscribe p:last-child {
    text-transform: capitalize;
}

footer .copy-right {
    width: 100%;
    border-top: 1px solid var(--gray);
    text-align: center;
    padding: 15px;
    font-size: 20px;
    text-transform: capitalize;
}

footer .copy-right a {
    color: rgb(0, 68, 255);
    text-decoration: none;
}


@media (max-width: 800px) {
    footer .content-footer {
        flex-direction: column;
    }

    footer .content-footer>* {
        width: 100%;
    }

    footer .logo-descp img {
        width: 70px;
    }

    footer .content-footer h5 {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

/* end footer  */